@media screen and (max-width: 1920px) {

    @font-face {
        font-family: 'Jennie on the Block';
        src: url('/cssBayan/assets/fonts/Jennie\ on\ the\ Block.ttf');
    }

    body {
        background-color: gainsboro;
        font-family: 'Jennie on the Block';
    }

    .container {
        margin: 0 10%;
        color: blue;
    }

    .container:hover {
        color: #000;
        cursor: pointer;
    }

    .title {
        color: #000;
        font-size: 3vw;
    }

    .accordion .text+label {
        width: 100%;
        display: block;
        cursor: pointer;
        height: 1em;
        font-size: 2vw;
        border-top: solid .1em rgb(190, 208, 209);
        padding-top: 0.5em;
    }

    .picture {
        display: none;
        text-align: center;
        cursor: pointer;
    }

    img {
        height: 30%;
        width: 30%;
    }

    .text {
        appearance: none;
    }

    .text:hover+label+.picture {
        display: block;
    }

    .text:checked+label+.picture {
        display: block;
    }

    .picture:hover {
        display: block;
    }

}

.accordion:hover .text:checked+label::after {
    content: url(/cssBayan/assets/img/svg/xmark-solid.svg);
    margin-left: 23em;
}

.accordion:hover label::after {
    content: url(/cssBayan/assets/img/svg/grip-lines-vertical-solid.svg);
    margin-left: 23em;
}

.text:hover+label::after {
    content: url(/cssBayan/assets/img/svg/xmark-solid.svg);
    margin-left: 23em;
}



@media screen and (max-width: 820px) {

    .title {
        font-size: 4vw;
    }

    .accordion .text+label {
        font-size: 3vw;
    }

}


@media screen and (max-width: 320px) {

    .title {
        font-size: 5vw;
    }

    .accordion .text+label {
        font-size: 4vw;
    }
}