@media screen and (max-width: 1920px) {

    @font-face {
        font-family: 'Jennie on the Block';
        src: url("/assets/fonts/Jennie\ on\ the\ Block.ttf");
    }

    body {
        background-color: gainsboro;
        font-family: 'Jennie on the Block';
    }

    .container {
        margin: 0 10%;
        color: blue;
    }

    .container:hover {
        color: #000;
        cursor: pointer;
    }

    .title {
        color: #000;
        font-size: 3em;
    }

    .accordion .text+label {
        width: 100%;
        display: block;
        cursor: pointer;
        height: 2em;
        font-size: 2em;
        border-top: solid .1em rgb(190, 208, 209);
        padding-top: 0.8em;
    }

    .picture {
        display: none;
        text-align: center;
        cursor: pointer;
    }

    .text {
        font-size: 1.5em;
        appearance: none;
        display: none;

    }

    .text+label+div {
        display: none;

    }

    .text:hover+label+div {
        display: block;
        transition: 3s ease;
    }

    .text:checked+label+div {
        display: block;
        transition: 2s ease;
    }

    .accordion:hover .text:checked+label::after {
        content: url(/assets/img/svg/xmark-solid.svg);
        margin-left: 23em;
    }

    .accordion:hover label::after {
        content: url(/assets/img/svg/grip-lines-vertical-solid.svg);
        margin-left: 23em;
    }

.text:hover+label::after {
    content: url(/assets/img/svg/xmark-solid.svg);
        margin-left: 23em;
}

}