@media screen and (max-width: 1920px) {

    @font-face {
        font-family: 'Jennie on the Block';
        src: url("/cssBayan/assets/fonts/Jennie\ on\ the\ Block.ttf");
    }

    body {
        background-color: gainsboro;
        font-family: 'Jennie on the Block'
    }

    .container {
        margin: 0 10%;
        color: blue;
    }

    .container:hover {
        color: #000;
    }

    .string {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.5em;
        border-top-style: solid;
    }

    .title {
        color: #000;
        font-size: 2.5em;
    }

    .picture {
        display: none;
        text-align: center;
    }

    .accordion:hover .picture {
        display: block;
    }

    .text {
        font-size: 1.5em;
    }

    .cross {
        height: 30px;
        width: 30px;
        display: none;
    }

    .lines {
        height: 30px;
        width: 30px;
    }

    .accordion:hover .cross {
        display: block;
    }

    .accordion:hover .lines {
        display: none;
    }
}